@inherits TodosBase

<h1>Todos</h1>
<div class="card">
    <EditForm Model="@CreateDto" OnValidSubmit="()=>AddItem(CreateDto)">
        <div>
        <input class="task-input" type="text" placeholder="Please enter a task" 
            @bind-value="@CreateDto.Task"/>
            </div>
    </EditForm>
    
    <div>
        @if (Todos.Count > 0)
        {
            <div>
                @foreach (var task in Todos)
                {
                    <div> 
                        <input type="checkbox" checked="@task.IsCompleted"/> 
                        <span>@task.Task </span> 
                        <span class="oi oi-trash" @onclick="()=>RemoveItem(task)" /> 
                    </div>
                }
            </div>
        }
    </div>
</div>
