body {

    font-family: 'Global Sans Serif';
    background-color: #f5f5f5;
}
h1 {
    color: rgba(175,47,47,0.2); 
    font-weight: bolder;
    font-size: 7rem;

    margin: auto;
    text-align: center;
}

.body-container{
    margin: 1rem auto;
    background-color: white;
    width: 10rem;
    /*padding: 1rem;*/


    
}
.task-input{
    border: none;
    outline: none;
    x
}